files:
    "/tmp/appd.sh":
      mode: "000755"
      owner: ec2-user
      group: ec2-user
      source: https://raw.githubusercontent.com/appdynamics/aws-elasticbeanstalk/master/java/appd.sh
      
commands:
  command block:
    cwd: /tmp
    command: |
      curl -Lk https://github.com/csek06/appd-binary-downloader/raw/master/cmd/appd-downloader/appd-downloader_linux -o appd-downloader
      chmod +x appd-downloader
      ./appd-downloader -java -automate
      mv AppServerAgent-1.8-22.*.zip appagent.zip
      ./appd-downloader -ma -automate -extension zip
      mv machineagent-bundle-64bit-linux-22.*.zip machineagent.zip

container_commands:
    01enable-appd:
      command: "/tmp/appd.sh"

option_settings:
    aws:elasticbeanstalk:application:environment:
# Optional Variables are commented out
      APPDYNAMICS_CONTROLLER_HOST_NAME: 
      APPDYNAMICS_CONTROLLER_PORT: 
      APPDYNAMICS_CONTROLLER_SSL_ENABLED:
      APPDYNAMICS_AGENT_ACCOUNT_NAME: 
      APPDYNAMICS_AGENT_ACCOUNT_ACCESS_KEY: 
      APPDYNAMICS_AGENT_APPLICATION_NAME: 
      #APPDYNAMICS_AGENT_TIER_NAME: 
      APPDYNAMICS_SIM_ENABLED:
